<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pracownik</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/static">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="tablesAnew">
    <div class="headline">
        <h2>Pracownicy spółdzielni mieszkaniowej</h2><br>
        Można skorzystać z opcji:<br>
        <a class="nav-link" th:href="@{/pracownik/new}"><button class="button" type="submit">Dodaj nowego pracownika</button></a>
        <br>
        <a class="nav-link" th:href="@{/pracownik/new}"><button class="button" type="submit">Posortuj pracowników wg:</button></a>
    </div>
    <div class="tablesA">
    <!-- Table -->
    <table class="maintables"  cellpadding = "10" >

        <thead>
        <tr> <!-- Table row -->
            <th>NR PRACOWNIKA</th> <!-- Table column -->
            <th>IMIĘ</th>
            <th>NAZWISKO</th>
            <th>PESEL</th>
            <th>TELEFON</th>
            <th>EMAIL</th>
            <th>DATA URODZENIA</th>
            <th>NR ADRESU</th>
            <th>NR </th>
            <th>NR STANOWISKA</th>
            <th>EDYTUJ</th>
            <th>USUŃ</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "pracownik: ${listPracownik}">
            <td th:text = "${pracownik.nrPracownika}">nrPracownika</td>
            <td th:text = "${pracownik.imie}">imie</td>
            <td th:text = "${pracownik.nazwisko}">nazwisko</td>
            <td th:text = "${pracownik.pesel}">pesel</td>
            <td th:text = "${pracownik.nrTelefonu}">nrTelefonu</td>
            <td th:text = "${pracownik.email}">email</td>
            <td th:text = "${pracownik.dataUrodzenia}">dataUrodzenia</td>
            <td th:text = "${pracownik.nrAdresu}">nrAdresu</td>
            <td th:text = "${pracownik.nrSpoldzielniMieszkaniowej}">nrSpoldzielniMieszkaniowej/td>
            <td th:text = "${pracownik.nrStanowiska}">nrStanowiska</td>
            <td><a th:href="@{'/edit/' +${pracownik.nrPracownika}}">Edytuj</a></td>
            <td><a th:href="@{'/delete/' +${pracownik.nrPracownika}}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</div>
</body>
</html>
